.foto-redonda {
    width: 300px; 
    height: 300px;  
    border-radius: 50%; 
}
.interface {
    display: flex;             
    align-items: normal;    
    justify-content: space-between;
    max-width: 1000px;     
    margin: 0 auto;          
    padding: 20px 4%;         
}

.texto {
    flex: 1;                
}

.foto {
    flex: 1;                   
    display: flex;
    justify-content: flex-end; 
}